.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: url("../../../public/images/transparency.png");
  background-size: 100% 100%;
  margin-top: 0px;
  min-height: 60px;
  /* background: #E5E5E5; */
  position: relative;
}

.footer span {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  /* background: #B8B8B8; */
}

.contactImage {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  object-fit: cover;
}
